<main class="main">
  <h3 class="title">
    Estas apunto de ofrecer tus productos a miles de consumidores
  </h3>
  <form id="restForm" class="IEForm">
    <h3 class="titleForm">Registrate como Restaurante</h3>
    <label for="nameRestForm">
      <input id="nameRestForm" type="text" name="name" placeholder="Nombre del Restaurante" required />
    </label>
    <label for="propietaryForm">
      <input id="propietaryForm" type="text" name="owner" placeholder="Propietario" required />
    </label>
    <label for="emailForm">
      <input id="emailForm" type="email" name="email" placeholder="Correo Electronico" required />
    </label>
    <label for="passwordForm">
      <input id="passwordForm" type="password" name="password" placeholder="Contraseña" required />
    </label>
    <button type="submit">
      Registrate
    </button>
    <p>O registrate como <a href="/signup-ie">Invitado Especial</a></p>
  </form>
</main>

<script src="/signup/signupres.js"></script>