<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-white">
                <h2 id="userName" class="font-weight-bold mb-0"> . </h2>
                <p>¿Qué quieres ordenar hoy?</p>
            </div>
        </div>

    </div>
    <div class="restContainer">
        <div id="gridRestaurantes" class="gridRestaurantes">
        </div>
    </div>
</div>
</div>
<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-6">
            <img src="img/icon.png" alt="icono">
        </div>
        <div class="col-md-6">
            <h4>Los mejores restaurantes en nuestro sitio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quos cupiditate odit similique aperiam autem
                expedita
                consequuntur incidunt eum. Non error quibusdam aspernatur id atque nam libero provident odit reiciendis!
            </p>
        </div>
    </div>
</div>

<script src="/ie/inicioie.js"></script>