<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active text-white" id="v-pills-programadas-tab" data-toggle="pill"
                href="#v-pills-programadas" role="tab" aria-controls="v-pills-programadas"
                aria-selected="true">Programadas</a>
            <a class="nav-link text-white" id="v-pills-historialR-tab" data-toggle="pill" href="#v-pills-historialR"
                role="tab" aria-controls="v-pills-historialR" aria-selected="false">Historial</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-programadas" role="tabpanel"
                aria-labelledby="v-pills-programadas-tab">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            Reservaciones programadas proximamente
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id Reservacion</th>
                                        <th scope="col">Restaurante</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Hora</th>
                                        <th scope="col"># personas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-historialR" role="tabpanel" aria-labelledby="v-pills-historialR-tab">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            Historial de Reservaciones
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id Reservacion</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Restaurante</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-6">
            <img src="img/icon.png" alt="icono">
        </div>
        <div class="col-md-6">
            <h4>Los mejores restaurantes en nuestro sitio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quos cupiditate odit similique aperiam autem
                expedita
                consequuntur incidunt eum. Non error quibusdam aspernatur id atque nam libero provident odit reiciendis!
            </p>
        </div>
    </div>
</div>