<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDRS</title>
    <link rel="stylesheet" href="/login/rest.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="imgBackground"></div>
    <main class="main">
      <h3 class="title">
        Estas apunto de ofrecer tus productos a miles de consumidores
      </h3>
      <form class="IEForm">
        <h3 class="titleForm">Registrate como Restaurante</h3>
        <label for="nameRestForm">
          <input id="nameRestForm" type="text" placeholder="Nombre del Restaurante" />
        </label>
        <label for="propietaryForm">
            <input id="propietaryForm" type="text" placeholder="Propietario" />
          </label>
        <label for="emailForm">
          <input id="emailForm" type="text" placeholder="Correo Electronico" />
        </label>
        <label for="passwordForm">
          <input id="passwordForm" type="text" placeholder="Contraseña" />
        </label>
        <button type="submit">
          Registrate
        </button>
        <p>O registrate como <a href="/signup-ie">Invitado Especial</a></p>
      </form>
    </main>
  </body>
</html>
