<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active text-white" id="v-pills-curso-tab" data-toggle="pill" href="#v-pills-curso"
                role="tab" aria-controls="v-pills-curso" aria-selected="true">En curso</a>
            <a class="nav-link text-white" id="v-pills-historial-tab" data-toggle="pill" href="#v-pills-historial"
                role="tab" aria-controls="v-pills-historial" aria-selected="false">Historial</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-curso" role="tabpanel"
                aria-labelledby="v-pills-curso-tab">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            Ordenes en curso
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-dark">
                                <thead class="">
                                    <tr>
                                        <th scope="col">Id orden</th>
                                        <th scope="col">Restaurante</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                    aria-valuemin="0" aria-valuemax="100"></div>

                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                    aria-valuemin="0" aria-valuemax="100"></div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                    aria-valuemin="0" aria-valuemax="100"></div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                    aria-valuemin="0" aria-valuemax="100"></div>

                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                    aria-valuemin="0" aria-valuemax="100"></div>

                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-historial" role="tabpanel" aria-labelledby="v-pills-historial-tab">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            Historial de Ordenes
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id orden</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Restaurante</th>
                                        <th scope="col"># productos</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-6">
            <img src="img/icon.png" alt="icono">
        </div>
        <div class="col-md-6">
            <h4>Los mejores restaurantes en nuestro sitio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quos cupiditate odit similique aperiam autem
                expedita
                consequuntur incidunt eum. Non error quibusdam aspernatur id atque nam libero provident odit reiciendis!
            </p>
        </div>
    </div>
</div>