<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDRS</title>
    <link rel="stylesheet" href="/login/IE.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="imgBackground"></div>
    <main class="main">
      <h3 class="title">
        Se parte de la comunidad y ordena productos de tus restaurantes
        favoritos
      </h3>
      <form class="IEForm" id="IEform">
        <h3 class="titleForm">Registrate como Invitado Especial</h3>
        <label for="nameForm">
          <input id="nameForm" type="text" placeholder="Nombre" value="Daniel" />
        </label>
        <label for="emailForm">
          <input id="emailForm" type="text" placeholder="Correo Electronico" />
        </label>
        <label for="passwordForm">
          <input id="passwordForm" type="text" placeholder="Contraseña" />
        </label>
        <button type="submit">
          Registrate
        </button>
        <p>O registrate como <a href="/signup-res">Restaurante</a></p>
      </form>
    </main>
    <script type="text/javascript" src="/signup/signupie.js"></script>
  </body>
</html>
