<main class="main">
  <h3 class="title">
    Se parte de la comunidad y ordena productos de tus restaurantes
    favoritos
  </h3>
  <form class="IEForm" id="IEform">
    <h3 class="titleForm">Registrate como Invitado Especial</h3>
    <label for="nameForm">
      <input id="nameForm" type="text" placeholder="Nombre" name="userName" required />
    </label>
    <label for="emailForm">
      <input id="emailForm" type="correo" placeholder="Correo Electronico" name="email" required />
    </label>
    <label for="passwordForm">
      <input id="passwordForm" type="password" placeholder="Contraseña" name="password" required />
    </label>
    <button type="submit">
      Registrate
    </button>
    <p>O registrate como <a href="/signup-res">Restaurante</a></p>
  </form>
</main>
<script type="text/javascript" src="/signup/signupie.js"></script>
