<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">  
        <!--Iconos-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--estilos css-->    
    <link rel="stylesheet" href="/ie/estilos.css">
    <title>Restaurante</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><h1>MRDS</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><i class="icon ion-md-home mr-1"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup-ie"><i class="icon ion-md-clipboard mr-1"></i>Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/restaurantes"><i class="icon ion-md-pizza  mr-1"></i>Restaurantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login-ie"><i class="icon ion-md-contact  mr-1"></i>iniciar sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-white">
                    <h2 class="font-weight-bold mb-0">Los mejores Restaurantes</h2>
                    <p>Hasta tu hogar</p>
                </div>
            </div>

        </div>
    <div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 d-flex stat my-3">
                            <div class="mx-auto">
                                <img class="img-fluid" src="img/restaura.jpg" alt="">
                                <h5 class="text-muted">Nombre Restaurante</h5>
                            </div>
                        </div>     
                        <div class="col-lg-3 d-flex stat my-3">
                            <div class="mx-auto">
                                <img class="img-fluid" src="img/res3.png" alt="">
                                <h5 class="text-muted">Nombre Restaurante</h5>
                            </div>
                        </div>    
                         <div class="col-lg-3 d-flex stat my-3">
                            <div class="mx-auto">
                                <img class="img-fluid" src="img/restaura.jpg" alt="">
                                <h5 class="text-muted">Nombre Restaurante</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex stat my-3">
                            <div class="mx-auto">
                                <img class="img-fluid" src="img/res3.png" alt="">
                                <h5 class="text-muted">Nombre Restaurante</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 d-flex stat my-3">
                        <div class="mx-auto">
                            <img class="img-fluid" src="img/res3.png" alt="">
                            <h5 class="text-muted">Nombre Restaurante</h5>
                        </div>
                    </div>     
                    <div class="col-lg-3 d-flex stat my-3">
                        <div class="mx-auto">
                            <img class="img-fluid" src="img/restaura.jpg" alt="">
                            <h5 class="text-muted">Nombre Restaurante</h5>
                        </div>
                    </div>    
                     <div class="col-lg-3 d-flex stat my-3">
                        <div class="mx-auto">
                            <img class="img-fluid" src="img/res3.png" alt="">
                            <h5 class="text-muted">Nombre Restaurante</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex stat my-3">
                        <div class="mx-auto">
                            <img class="img-fluid" src="img/restaura.jpg" alt="">
                            <h5 class="text-muted">Nombre Restaurante</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
    <div class="container-fluid" id="about"></div>
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-6">
            <img src="icon.png" alt="icono">
        </div>
        <div class="col-md-6">
            <h4>Los mejores restaurantes en nuestro sitio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quos cupiditate odit similique aperiam autem
                expedita
                consequuntur incidunt eum. Non error quibusdam aspernatur id atque nam libero provident odit reiciendis!
            </p>
        </div>
    </div>
    <footer class="be-light text-center p-2">
        <p class="h3">
            Pews 2020 &copy;
        </p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>